body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f4f4f4;
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;

}

section{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 1%;
    background-color: white;
    color: grey;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 1px 1px 0.1rem 1px rgb(127, 215, 215);
}

.playingSection{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 3px; */
}
#end{
    align-self: flex-end;

}

header{
    display: flex;
    justify-content: space-between;
}

.singer{
    align-self: center;
}

.songImg{
    padding: 10%
}

.img1{
    width: 100%;
    /* height: 100%; */
    border-radius: 5%;
}

.musicControl{
    display: flex;
    flex-direction: column;
}

.musicRocker{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    gap:1em;
}

#sliderContainer {
    width: 100%;
    height: 0.5vh;
    align-self: center;
    margin: 0%;
}

#slider {
    width: 100%;
}

.timer{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    font-size: 70%;
}

.controls{
    display: flex;
    height: 20px;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 10%;
}

#repeat,#previousSong,#nextSong,#shuffle{
    scale: 1.6;
}

#play{
    scale: 2.5;
}

.songs{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.songList{
    display: flex;
    padding-top: 8%;
    justify-content: space-between;
}

.musicName{
    border: none;
    color: black;
    background-color: white;
    align-self: center;
}

.musicName:hover{
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.control,.menu,.add{
    background-color: white;
    border: none;
}

.control:hover,.menu:hover,.add:hover{
    color: black;
    font-weight: bolder;
    opacity: 0.6;
    transition: .3s ease-in;
    cursor: pointer;
}

#notPlaying{
    color: grey;
}

#playing{
    color: black;
    font-weight: bold;
}